* {
  box-sizing: border-box;
  text-align: center;
}
body {
  margin: 0;
}
.main {
  width: 301px;
  padding: 62px 51px 50px 49px;
  margin: 5px 0 0 10px;
  display: block;
  border: 2px solid #e8e8e8;
  text-align: center;
}
.h3 {
  margin: 0;
  color: #212121;
  font-size: 16px;
  text-align: center;
  padding-bottom: 35px;
}
.price {
  font-size: 48px;
  color: #5ba2a9;
  margin-bottom: 49px;
}
.price span {
  font-size: 16px;
}

.list {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;
}
.list-item {
  list-style-type: none;
  color: #454545;
  text-align: center;
  font-size: 14px;
  padding-bottom: 12px;
}
.button {
  color: #5a5a5a;
  font-size: 16px;
  padding: 22px 28px 21px 32px;
  /* width: 201px;
  height: 55px; */
  line-height: 12px;
}
